html {
	height:100%;
	width:100%;
	background: #000000;
	font-family: "Helvetica Neue", Helvetica, Arial, Geneva,sans-serif;
	color:#b6b9bc;
	font-size:12px;
	line-height:16px;
	font-weight:lighter;
	letter-spacing:0.4px;
}
body
{
	text-align: center;
}

#flashcontent 
{
	position: absolute;
	margin:-240px auto 0 auto;
	top: 50%;
	bottom: 0;
	left: 0;
	right: 0;
}

a {
	color: #3bb1e3; 
	text-decoration: none;
}

a:hover {
	color: #FFFFFF;
}

p {
	background: #000000;

}